In [1]:
import pandas as pd
import numpy as np
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

## Data Cleaning and Wrangling

I import my data from github, and read my data

In [2]:
import os as path
pd.set_option('display.max_columns',None)
path=('/content/drive/MyDrive/Dataset/Crime_Data_from_2020_to_Present.csv')
crime_df=pd.read_csv(path)
crime_df

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,Mocodes,Vict Age,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Weapon Used Cd,Weapon Desc,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,3/1/2020 0:00,3/1/2020 0:00,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,NaN,0,M,O,101.0,STREET,NaN,NaN,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,2/9/2020 0:00,2/8/2020 0:00,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,1822 1402 0344,47,M,O,128.0,BUS STOP/LAYOVER (ALSO QUERY 124),NaN,NaN,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 0:00,11/4/2020 0:00,1700,3,Southwest,356,1,480,BIKE - STOLEN,0344 1251,19,X,X,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,NaN,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,5/10/2023 0:00,3/10/2020 0:00,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),0325 1501,19,M,O,405.0,CLOTHING STORE,NaN,NaN,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,200412582,9/9/2020 0:00,9/9/2020 0:00,630,4,Hollenbeck,413,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,200 E AVENUE 28,NaN,34.0820,-118.2130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004871,240710284,7/24/2024 0:00,7/23/2024 0:00,1400,7,Wilshire,788,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,4000 W 23RD ST,NaN,34.0362,-118.3284
1004872,240104953,1/15/2024 0:00,1/15/2024 0:00,100,1,Central,101,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329 0400 0416,0,X,X,503.0,HOTEL,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,745.0,NaN,NaN,NaN,1300 W SUNSET BL,NaN,34.0685,-118.2460
1004873,240410786,10/14/2024 0:00,10/11/2024 0:00,2330,4,Hollenbeck,421,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",344,29,M,B,210.0,RESTAURANT/FAST FOOD,NaN,NaN,IC,Invest Cont,341.0,NaN,NaN,NaN,1700 ALBION ST,NaN,34.0675,-118.2240
1004874,240309674,4/24/2024 0:00,4/24/2024 0:00,1500,3,Southwest,358,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",1822 0334 0416 0445 0449 1202,70,F,W,102.0,SIDEWALK,308.0,STICK,IC,Invest Cont,230.0,NaN,NaN,NaN,FLOWER ST,JEFFERSON BL,34.0215,-118.2868
1004875,240910892,8/13/2024 0:00,8/12/2024 0:00,2300,9,Van Nuys,914,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,108.0,PARKING LOT,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,6900 VESPER AV,NaN,34.1961,-118.4510

I inspect my dataset data types

In [3]:
crime_df.dtypes

DR_NO               int64
Date Rptd          object
DATE OCC           object
TIME OCC            int64
AREA                int64
AREA NAME          object
Rpt Dist No         int64
Part 1-2            int64
Crm Cd              int64
Crm Cd Desc        object
Mocodes            object
Vict Age            int64
Vict Sex           object
Vict Descent       object
Premis Cd         float64
Premis Desc        object
Weapon Used Cd    float64
Weapon Desc        object
Status             object
Status Desc        object
Crm Cd 1          float64
Crm Cd 2          float64
Crm Cd 3          float64
Crm Cd 4          float64
LOCATION           object
Cross Street       object
LAT               float64
LON               float64
dtype: object

I change the data types to string

In [4]:
crime_df = crime_df.astype({
    "Date Rptd": "string",
    "DATE OCC": "string",
    "AREA NAME" : "string",
    "Crm Cd Desc" : "string",
    "Mocodes" : "string",
    "Vict Sex" : "string",
    "Vict Descent" : "string",
    "Premis Desc" : "string",
    "Weapon Desc" : "string",
    "Status" : "string",
    "Status Desc" : "string",
    "LOCATION" : "string",
    "Cross Street" : "string",
    "Crm Cd 3" : "string",
    "Crm Cd 4" : "string"
})
crime_df.dtypes

DR_NO                      int64
Date Rptd         string[python]
DATE OCC          string[python]
TIME OCC                   int64
AREA                       int64
AREA NAME         string[python]
Rpt Dist No                int64
Part 1-2                   int64
Crm Cd                     int64
Crm Cd Desc       string[python]
Mocodes           string[python]
Vict Age                   int64
Vict Sex          string[python]
Vict Descent      string[python]
Premis Cd                float64
Premis Desc       string[python]
Weapon Used Cd           float64
Weapon Desc       string[python]
Status            string[python]
Status Desc       string[python]
Crm Cd 1                 float64
Crm Cd 2                 float64
Crm Cd 3          string[python]
Crm Cd 4          string[python]
LOCATION          string[python]
Cross Street      string[python]
LAT                      float64
LON                      float64
dtype: object

I identify any missing data

In [ ]:
#crime_df.isnull().sum()
crime_df.isnull().sum().sort_values(ascending=False) / crime_df.shape[0]

In [ ]:
#crime_df['Vict Descent'] = crime_df['Vict Descent'].astype(str).str.replace('O', np.nan)
crime_df['Vict Descent'] = crime_df['Vict Descent'].astype(str).str.replace('X','nan')
crime_df['Vict Sex'] = crime_df['Vict Sex'].astype(str).str.replace('X', 'nan')
crime_df['Vict Age'] = crime_df['Vict Age'].astype(str).str.replace('7Un', '70')

crime_df.replace("N/A", np.nan, inplace=True) #replaces every "N/A" with nan so that we can filter
crime_df.replace("nan", np.nan, inplace=True) #replaces every "nan" with nan so that we can filter
crime_df['Vict Age'] = pd.to_numeric(crime_df['Vict Age'], errors='coerce') #removes any value in Vict Age that had NaN attached and converts to numeric

crime_df

Removing missing data (rows)

In [ ]:
crime_df.dropna(inplace = True)
crime_df

In [ ]:
crime_df.drop(columns = ["Date Rptd"])

In [ ]:
crime_df.isna().any(axis =1)

I drop duplictes in my data set

In [ ]:
crime_df.drop_duplicates(inplace=True)
crime_df

I find a way to get a quick overview of my data

In [ ]:
crime_df.describe()
#info for boxplot

In [ ]:
#dataset is very large thus we will reduce it by randomly selecting 5000 rows
#reduced_crime_data = crime_df.sample(n=5000).reset_index(drop = True)
#reduced_crime_data

# Measure of Central Tendency

I calculated the mean, median and mod of the Premis Cd column

In [ ]:
mean_Premis_Cd = crime_df['Premis Cd'].mean()
median_Premis_Cd = crime_df['Premis Cd'].median()
mode_Premis_Cd = crime_df['Premis Cd'].mode().iloc[0]
mean_Premis_Cd,median_Premis_Cd, mode_Premis_Cd

### Measures of Spread

I calculated the standard deviation, variance, Range and IQR for the Premis Cd column

In [ ]:
Premis_Cd_range = crime_df['Premis Cd'].max() - crime_df['Premis Cd'].min()
Premis_Cd_sample = crime_df['Premis Cd'].var()
std_sample = crime_df['Premis Cd'].std()
Q1 = crime_df['Premis Cd'].quantile(0.25)
Q3 = crime_df['Premis Cd'].quantile(0.75)

IQR = Q3 - Q1
Premis_Cd_range,Premis_Cd_sample,std_sample,IQR

I created a pairplot for 5 column in my dataset

In [ ]:
sns.pairplot(crime_df[['Rpt Dist No', 'Crm Cd', 'Premis Cd',
                       'Vict Age', 'AREA']])
plt.show()

I created 3 separate Visualization

first is histogram

In [ ]:
plt.figure(figsize=(10, 6))
plt.hist(crime_df["Premis Cd"], bins=10, color='skyblue' , edgecolor='black')
plt.xlabel("Premis Cd")
plt.ylabel("Frequency")
plt.title("Histogram of Premis Cd")
plt.show()

Second is bar chart

In [ ]:
#grouping data by victim descent  and calculating the victim age and saving as vict_avg
crime_df['Vict Descent'] = crime_df['Vict Descent'].astype(str).str.replace('-', 'O')

vict_avg = crime_df.groupby('Vict Descent')['Vict Age'].mean().reset_index()
vict_avg

#Crm_Cd = [510, 330, 480, 648]

In [ ]:
#assigning random colors to victim descents
num_bars = len(vict_avg['Vict Descent'])
colors = np.random.rand(num_bars, 3)  # 3 values for RGB


bars = plt.bar(vict_avg['Vict Descent'], vict_avg['Vict Age'], color = colors)
plt.xlabel('Vict Descent')
plt.ylabel('Vict Age')
plt.title('Average Victim Age by Descent')
plt.show()

I did a box plot

In [ ]:
crime_df.boxplot(column = "Crm Cd", by = "Vict Sex", figsize = (10,6))
plt.title('Highest crime committed')
plt.xlabel('Victim Sex')
plt.ylabel('Crm Cd')
plt.show()

Scatterplot with Linear Regression

In [ ]:
plt.scatter(crime_df["AREA"],
            crime_df["Rpt Dist No"],
            color='blue' ,
            alpha=0.7,
            edgecolors='black')
plt.plot = np.polyfit(crime_df["AREA"],
                      crime_df["Rpt Dist No"],
                      deg=1)
x = crime_df['AREA'].to_numpy().reshape(-1, 1)
y = crime_df['Rpt Dist No'].to_numpy()
lin_reg = LinearRegression()
lin_reg.fit(x,y)
beta_0 = lin_reg.intercept_
beta_1 = lin_reg.coef_[0]
print(f"Intercept (β₀): {beta_0:.2f}")
print(f"Slope (β₁): {beta_1:.2f}")
plt.figure(figsize=(10, 6))
sns.regplot(x=x[:, 0], y=y, scatter=True, ci=None, line_kws={"color": "red"})

# Create the equation text and annotate the plot
equation_text = f"$y = {beta_0:.2f} + {beta_1:.2f}x$"
plt.text(0.05, 0.95, equation_text, transform=plt.gca().transAxes, fontsize=12, color="red", verticalalignment='top')
plt.title('Linear Regression Fit')
plt.xlabel('AREA')
plt.ylabel('Rpt Dist No')
plt.show()

In [ ]:
crime_df_Vict = crime_df[(crime_df['Vict Sex'] == 'F') & (crime_df['Crm Cd Desc'] =='RAPE, FORCIBLE')]

# Calculate the probability
prob_Female_crime_Vict = len(crime_df_Vict) / len(crime_df[crime_df['Crm Cd Desc'] == 'RAPE, FORCIBLE'])

# Print the probability
print(f"The probability of a person being Female who has suffered harm because of a crime committed to them: {prob_Female_crime_Vict*100:.2f}%")

In [ ]:
hispanic_victims = len(crime_df[crime_df['Vict Descent'] == 'H'])
total_crimes = len(crime_df)
probability = hispanic_victims / total_crimes
print(f"The probability is: {probability:.2f}")

In [ ]:
battery_area2_crimes = len(crime_df[(crime_df['Crm Cd Desc'] == 'BATTERY') & (crime_df['AREA'] == 2)])
total_crimes = len(crime_df)
probability = battery_area2_crimes / total_crimes
print(f"The probability is: {probability:.2f}")

In [ ]:
residence_female_crimes = len(crime_df[(crime_df['Premis Desc'] == 'RESIDENCE') & (crime_df['Vict Sex'] == 'F')])
total_crimes = len(crime_df)
probability = residence_female_crimes / total_crimes
print(f"The probability is: {probability:.2f}")

In [ ]:
over40_victims = len(crime_df[crime_df['Vict Age'] > 40])
total_crimes = len(crime_df)
probability = over40_victims / total_crimes
print(f"The probability is: {probability:.2f}")